
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display-inline:block;
    background-image: url(../img/pattern.png);
    background-size: cover;
    box-sizing: content-box;
    background-position: center;
    height: 200px;
}
#logo-container{
    display: block;
    background-image: url(../img/logo.svg);
    height: 100px;
    weight: 200px;
    border: solid;
    background-size: cover;
}